* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: oklch(96.975% 0.01488 251.307);
    color: #333;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0f4c81;
    margin-bottom: 25px;
}

h3 {
    color: #0f4c81;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th {
    background-color: #1e3a8a;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #bfc9d4;
    padding: 10px;
}

tr:nth-child(even) td {
    background-color: #dbeafe;
}

.form-box {
    background-color: #d1fae5;
    border-radius: 25px;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

.form-box h2 {
    text-align: center;
    color: #065f46;
    margin-bottom: 25px;
}
.row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;
}

.row label {
    width: 100px;
    font-weight: bold;
    padding-top: 8px;
}

.row input,
.row textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #94a3b8;
    border-radius: 5px;
    background-color: white;
    font-size: 14px;
}

.row textarea {
    resize: none;
}
button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 35px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}